<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3> Details About The Location</h3>
    <ul>
        <li><%= data.title %></li>
        <li><%= data.description %></li>
        <li><%= data.location %></li>
        <li><%= data.country %></li>
        <li>&#8377;<%= data.price.toLocaleString('en-IN') %></li>
    </ul>
    <a href="/listings/<%= data._id %>/edit">Edit</a>
    <br><br>
    <form method="POST" action="/listings/<%= data._id %>?_method=DELETE">
        <button>Delete All Listings</button>
    </form>
</body>
</html>